* {
    box-sizing:border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading {
    text-align: center;
}

#container {
    background-color: grey;
    border: 2px black solid;
}

.miniContainers {
    display: flex;
    flex: 1;
}

.divs {
    border: 2px black solid;
    /* background-color: aqua; */
    flex: 1;
}